<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Local Secret
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Mnemonic</ion-label>
    </ion-list-header>
    <ion-item class="ion-no-padding">
      <ion-textarea placeholder="Mnemonic" wrap="soft" [(ngModel)]="mnemonic"></ion-textarea>
    </ion-item>
    <ion-button (click)="localWalletService.saveMnemonic(mnemonic)">Save</ion-button>
    <ion-button (click)="localWalletService.generateMnemonic()">Generate</ion-button>
  </ion-list>

  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Address</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row>
    <ion-col class="ion-no-padding">
      <p class="ion-no-margin">{{ localWalletService.address | async }}</p>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Private Key</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row>
    <ion-col class="ion-no-padding">
      <p class="ion-no-margin">{{ localWalletService.privateKey | async }}</p>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Public Key</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row class="ion-padding-bottom">
    <ion-col class="ion-no-padding">
      <p class="ion-no-margin">{{ localWalletService.publicKey | async }}</p>
    </ion-col>
  </ion-row>
  
  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Balance</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row>
    <ion-col class="ion-no-padding">
      <p color="medium" class="ion-no-margin ion-text">{{ getBalance(localWalletService.wallet) }}</p>
    </ion-col>
  </ion-row>
</ion-content>