<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Local Secret
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Mnemonic</ion-label>
    </ion-list-header>
    <ion-item class="ion-no-padding">
      <ion-textarea
        (ionFocus)="mnemonicFocused()"
        placeholder="Mnemonic"
        wrap="soft"
        [(ngModel)]="mnemonic"
      ></ion-textarea>
    </ion-item>
    <ion-button [disabled]="saveButtonDisabled" (click)="saveMnemonic(mnemonic)">Save</ion-button>
    <ion-button (click)="generateMnemonic()">Generate</ion-button>
  </ion-list>

  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Address</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row>
    <ion-col class="ion-no-padding">
      <p class="ion-no-margin">{{ address }}</p>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Private Key</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row>
    <ion-col class="ion-no-padding">
      <p class="ion-no-margin">{{ privateKey }}</p>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Public Key</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row class="ion-padding-bottom">
    <ion-col class="ion-no-padding">
      <p class="ion-no-margin">{{ publicKey }}</p>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Balance</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row>
    <ion-col class="ion-no-padding">
      <p color="medium" class="ion-no-margin ion-text">
        {{ balance | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10 } }}
      </p>
    </ion-col>
  </ion-row>
</ion-content>
