<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Transaction Preview</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">
  <p class="ion-padding-bottom">This is a preview obtained by simulating the validation of your operation.</p>

  <ion-card color="danger" class="ion-margin-vertical" *ngFor="let error of errors">
    <ion-card-content>
      <ion-text>
        <h6>
          <strong>Error</strong>
        </h6>
        <p>{{ error.kind }}</p>
        <p><strong>{{ error.id }}</strong></p>
        <p *ngIf="error.message !== undefined">Message: {{ error.message }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-text color="success" *ngIf="errors.length === 0">
    <h6>
      <strong>Simulation successful</strong>
    </h6>
  </ion-text>

  <collapsable-json [json]="preapplyResponse" [displayRawData]="true"></collapsable-json>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button fill="outline" color="primary" (click)="dismiss()">
      Close
    </ion-button>
    <ion-button color="primary" (click)="confirm()">
      Confirm
    </ion-button>
  </ion-fab>
</ion-content>
