<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header class="ion-no-padding">
      <ion-label>Network</ion-label>
    </ion-list-header>
    <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
      <ion-label>Active Network</ion-label>
      <ion-select [(ngModel)]="networkType" (ionChange)="updateNetworkType()" placeholder="Select Network">
        <ion-select-option value="mainnet">Mainnet</ion-select-option>
        <ion-select-option value="edonet">Edonet</ion-select-option>
        <ion-select-option value="florencenet">Florencenet</ion-select-option>
        <ion-select-option value="granadanet">Granadanet</ion-select-option>
        <ion-select-option value="hangzhounet">Hangzhounet</ion-select-option>
        <ion-select-option value="idiazabalnet">Idiazabalnet</ion-select-option>
        <ion-select-option value="custom">Custom</ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container *ngIf="networkType === 'custom'">
      <ion-list-header class="ion-no-padding">
        <ion-label>Name (optional)</ion-label>
      </ion-list-header>
      <ion-item class="ion-no-padding ion-margin-bottom">
        <ion-input [(ngModel)]="networkName"></ion-input>
      </ion-item>
      <ion-list-header class="ion-no-padding">
        <ion-label>RPC Url</ion-label>
      </ion-list-header>
      <ion-item class="ion-no-padding ion-margin-bottom">
        <ion-input [(ngModel)]="networkRpcUrl"></ion-input>
      </ion-item>
      <ion-button (click)="updateNetwork()">Save</ion-button>
    </ng-container>
    <ion-list-header class="ion-no-padding">
      <ion-label>Beacon ID</ion-label>
    </ion-list-header>
    <ion-row>
      <ion-col class="ion-no-padding">
        <p class="ion-no-margin">{{ beaconId }}</p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
