<ng-container *ngFor="let transaction of transactionsPromise | async">
  <ng-container *ngIf="transaction">
    <address-row *ngFor="let address of transaction.from" [address]="address" label="From"></address-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="3" class="ion-no-padding">
        <ion-row class="ion-justify-content-center"><div class="line"></div></ion-row>
      </ion-col>
      <ion-col size="9" class="ion-padding-bottom">
        <ion-label position="stacked" class="ion-text-uppercase">AMOUNT</ion-label>
        <div class="ion-padding-bottom">
          <span class="typography--mono ion-padding-bottom">
            {{
              transaction.amount
                | amountConverter: { protocolIdentifier: transaction.protocolIdentifier, maxDigits: 10 }
            }}
          </span>
        </div>

        <ng-container *ngIf="transaction.fee">
          <ion-label position="stacked" class="ion-text-uppercase">FEE</ion-label>
          <div [ngClass]="transaction.timestamp || transaction.data ? 'ion-padding-bottom' : ''">
            <span class="typography--mono">
              {{ transaction.fee | feeConverter: { protocolIdentifier: transaction.protocolIdentifier } }}
            </span>
          </div>
        </ng-container>

        <ng-container *ngIf="transaction.timestamp">
          <ion-label position="stacked" class="ion-text-uppercase">
            Time
          </ion-label>
          <div [ngClass]="transaction.data ? 'ion-padding-bottom' : ''">
            {{
              transaction.timestamp
                | amFromUnix
                | amCalendar: { sameDay: '[Today at] HH:mm', sameElse: 'HH:mm [on] LL' }
            }}
          </div>
        </ng-container>

        <ng-container *ngIf="transaction.data">
          <ion-label position="stacked" class="ion-text-uppercase">Data</ion-label>
          <div>
            {{ transaction.data }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <address-row *ngFor="let address of transaction.to" [address]="address" label="To"></address-row>
  </ng-container>
</ng-container>

<ng-container>
  <ion-row
    class="rawdata--container ion-padding-bottom ion-margin-bottom"
    *ngIf="operationGroupPromise | async as operationGroup"
  >
    <ion-col class="ion-no-padding">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label>Change Fees</ion-label>
        <ion-toggle [(ngModel)]="advanced" slot="end" (ngModelChange)="initForms()"></ion-toggle>
      </ion-item>

      <ng-container *ngIf="advanced">
        <ng-container *ngFor="let formGroup of formGroups; let i = index">
          <h6 *ngIf="formGroups && formGroups.length > 1">
            <span class="style__strong color__primary">Operation #{{ i + 1 }}</span>
          </h6>
          <form [formGroup]="formGroup" class="ion-padding-bottom">
            <ion-row class="padding-top">
              <ion-col>
                <ion-item mode="md" color="light">
                  <ion-label class="ion-no-margin" position="stacked">Fee</ion-label>
                  <ion-input type="string" formControlName="fee" id="fee"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item mode="md" color="light">
                  <ion-label class="ion-no-margin" position="stacked">Gas Limit</ion-label>
                  <ion-input mode="md" type="string" formControlName="gas_limit" id="gas_limit"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item mode="md" color="light">
                  <ion-label class="ion-no-margin" position="stacked">Storage Limit</ion-label>
                  <ion-input mode="md" type="string" formControlName="storage_limit" id="storage_limit"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </form>
        </ng-container>

        <ion-button color="primary" (click)="confirmParams()">
          Update
        </ion-button>
      </ng-container>

      <collapsable-json [json]="operationGroup"></collapsable-json>
    </ion-col>
  </ion-row>
</ng-container>
