<div class="overlay fixed-top" *ngIf="showOverlay"></div>
<div class="container alert--container p-0 fixed-top">
  <alert
    class="alert"
    (onClosed)="dismiss(error)"
    [dismissible]="true"
    type="danger"
    [dismissOnTimeout]="90000"
    *ngFor="let error of errors"
  >
    <h5 class="alert-heading mb-3">Oh no, something went wrong!</h5>
    <div>
      <h6>
        <strong>Error {{ error.id }}</strong>
      </h6>
      <p>
        {{ error.kind }}
      </p>
    </div>
  </alert>

  <alert
    class="alert"
    [dismissible]="false"
    type="success"
    [dismissOnTimeout]="3000"
    *ngIf="errors.length === 0 && showOverlay"
    (onClosed)="dismiss()"
  >
    <h5 class="alert-heading mb-3">Operation Successful</h5>
  </alert>
</div>
