<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Paired Wallets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="activeWallet">
    <ion-list-header>
      Active Wallet
    </ion-list-header>
    <ion-item>
      {{ activeWallet.type }} - {{ activeWallet.pubkey }}
    </ion-item>
  </ion-list>

  <ion-card class="ion-no-margin">
    <ion-card-content>
      <ion-card-subtitle>
        Other wallets
      </ion-card-subtitle>
      <div *ngFor="let wallet of wallets">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label slot="start">
            <h3>{{ wallet.address }}</h3>
            <ion-badge color="dark">
              {{ wallet.type }}
            </ion-badge>
          </ion-label>
        </ion-item>
        <ion-button size="small" (click)="activateWallet(wallet)">
          Activate
        </ion-button>
        <ion-button size="small" fill="outline" (click)="deleteWallet(wallet)">
          Remove
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  {{ wallets | json }}
</ion-content>
