<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Paired Wallets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="activeWallet$ | async as activeWallet">
    <ion-list-header>
      <ion-label>Active Wallet</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        <h3>
          <strong>{{ activeWallet.type }}</strong>
        </h3>
        <ng-container *ngIf="activeWallet.type !== walletTypes.P2P">
          <div class="d-flex ion-align-items-center">
            <identicon [address]="activeWallet.address"></identicon>
            <p class="ion-no-margin">{{ activeWallet.address }}</p>
          </div>
          <p class="ion-text-wrap">{{ activeWallet.publicKey }}</p>
          <ion-text *ngIf="activeWallet.type === walletTypes.LEDGER">
            <small>
              <span>
                <strong>Derivation Path: </strong>
              </span>
            </small>
            <p class="ion-text-wrap">{{ activeWallet.derivationPath }}</p>
          </ion-text>

        </ng-container>
        <ng-container *ngIf="activeWallet.type === walletTypes.P2P">
          <div class="d-flex ion-align-items-center">
            <p class="ion-no-margin">Beacon connected wallet</p>
          </div>
          <p class="ion-text-wrap">{{ $any(activeWallet.info).publicKey }}</p>
        </ng-container>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Other Wallets</ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let wallet of wallets$ | async">
      <ion-label>
        <h3>
          <strong>{{ wallet.type }}</strong>
        </h3>
        <ng-container *ngIf="wallet.type !== walletTypes.P2P">
          <div class="d-flex ion-align-items-center">
            <identicon [address]="wallet.address"></identicon>
            <p class="ion-no-margin">{{ wallet.address }}</p>
          </div>
          <p class="ion-text-wrap">{{ wallet.publicKey }}</p>
        </ng-container>
        <ng-container *ngIf="wallet.type === walletTypes.P2P">
          <div class="d-flex ion-align-items-center">
            <p class="ion-no-margin">Beacon connected wallet</p>
          </div>
          <p class="ion-text-wrap">{{ $any(wallet.info).publicKey }}</p>
        </ng-container>
      </ion-label>
      <div slot="end">
        <ion-button size="small" fill="outline" color="primary" (click)="activateWallet(wallet)">
          Activate
        </ion-button>
        <ion-button size="small" fill="outline" color="dark" (click)="deleteWallet(wallet)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>