<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Wallets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let account of accounts">
      <ion-item (click)="activateAccount(account)">
        {{ account.pubkey }}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteAccount(account)" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  {{ accounts | json }}
</ion-content>
