<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Permissions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content>
      <ion-card-subtitle>
        Connected dApps
      </ion-card-subtitle>
      <div *ngFor="let permission of permissions">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label slot="start">
            <h3>{{ permission.address }}</h3>
            <ion-badge color="dark">
              {{ permission.scopes }}
            </ion-badge>
            <ion-badge color="dark">
              {{ permission.website }}
            </ion-badge>
          </ion-label>
        </ion-item>
        <ion-button size="small" fill="outline" (click)="deletePermission(permission)">
          Remove
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  {{ permissions | json }}
</ion-content>
