<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Pair
    </ion-title>
    <ion-buttons *ngIf="dismissEnabled | async" slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-padding-bottom">Choose a way to pair your wallet with Beacon</h3>

  <ion-row class="ion-justify-content-center"><img src="./assets/img/beacon_wallets.svg" /></ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="pairWallet()">
        Pair with Wallet
      </ion-button>
      <p>Pair your mobile, desktop or web wallet with Beacon, currently supported are AirGap Wallet.</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-padding-top"><img src="./assets/img/beacon_ledger.svg" /></ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="pairHardwareWallet()">
        Pair with Ledger
      </ion-button>
      <p>Pair your Ledger Nano hardware wallet with Beacon.</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label>Enable Developer Mode</ion-label>
        <ion-toggle [checked]="developerModeEnabled" (ionChange)="toggleDeveloperMode($event)"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="developerModeEnabled">
    <ion-row class="ion-justify-content-center ion-padding-top">
      <img src="./assets/img/beacon_extension.svg" />
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="pairLocalMnemonic()">
          Setup local secret
        </ion-button>
        <p>
          <strong>This is a development option only!</strong>
          Use a private key that is stored in the extension.
        </p>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
