<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beacon</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openWalletSelection()">
        Wallets
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center ion-padding-top">
    <img *ngIf="walletType === walletTypes.LOCAL_MNEMONIC" src="./assets/img/beacon_wallets.svg" />
    <img *ngIf="walletType === walletTypes.LEDGER" src="./assets/img/beacon_ledger.svg" />
    <img *ngIf="walletType === walletTypes.P2P" src="./assets/img/beacon_mobile.svg" />
  </ion-row>

  <ion-row class="ion-padding-vertical">
    <ion-col>
      <p class="ion-text-center ion-no-margin"><small>Paired with</small></p>
      <h3 class="ion-text-center ion-no-margin">{{ currentSigningMethod }}</h3>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="walletType">
    <ng-container *ngIf="walletType === walletTypes.P2P">
      <p class="ion-text-center"><strong>All requests will be redirected to your paired wallet.</strong></p>
    </ng-container>

    <ng-container *ngIf="walletType === walletTypes.LOCAL_MNEMONIC || walletType === walletTypes.LEDGER">
      <ion-row>
        <ion-col>
          <p class="ion-text-center ion-no-margin"><small>Address</small></p>
          <div
            (click)="openBlockexplorer()"
            class="ion-justify-content-center ion-align-items-center d-flex address--container"
          >
            <identicon [address]="address"></identicon>
            <h6>
              {{ address }}
              <ion-icon name="open-outline"></ion-icon>
            </h6>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-bottom">
        <ion-col>
          <p class="ion-text-center ion-no-margin"><small>Amount</small></p>
          <h3 class="ion-text-center ion-no-margin">
            {{ balance | amountConverter: { protocolIdentifier: protocolIndentifiers.XTZ, maxDigits: 10 } }}
          </h3>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="network">
        <ion-col>
          <p class="ion-text-center ion-no-margin"><small>Network</small></p>
          <h3 class="ion-text-center ion-no-margin">{{ (network).type }}</h3>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="showPairPage()" color="primary" fill="outline">
      Pair Wallet
    </ion-button>
  </ion-fab>
</ion-content>
