<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-padding-bottom">Choose a way to pair your wallet with Beacon</h3>

  <ion-row class="ion-justify-content-center"><img src="./assets/img/send-one-device.svg" /></ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="addWalletConnection()">
        Pair with Wallet
      </ion-button>
      <p>Pair your wallet with Beacon, currently supported are AirGap Wallet.</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-padding-top"><img src="./assets/img/send-one-device.svg" /></ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="signWithHardwareWallet()" disabled>
        Pair with Ledger
      </ion-button>
      <p>Pair your Ledger Nano hardware wallet with Beacon.</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label>Enable Developer Mode</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <!--TODO: show only if development mode is activated -->

  <ion-row class="ion-justify-content-center ion-padding-top"><img src="./assets/img/send-one-device.svg" /></ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="signWithLocalMnemonic()">
        Setup local secret
      </ion-button>
      <p>This is a development option only! Use a private key that is stored in the extension.</p>
    </ion-col>
  </ion-row>
</ion-content>
