<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">
  <ng-container *ngIf="request">
    <ng-container *ngIf="request.type != 'permission_request'">
      <ion-card>
        <ion-card-content>
          <ion-item lines="none" class="ion-no-padding">
            <ion-avatar slot="start">
              <identicon [address]="requesterName"></identicon>
            </ion-avatar>
            <ion-label class="ion-margin-start">
              <p>Requested by dApp</p>
              <h3>{{ requesterName }}</h3>
            </ion-label>
            <ion-badge color="primary" *ngIf="$any(request).network as network">
              {{ network.type }}
            </ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <div *ngIf="request.type === 'permission_request'" class="request--container">
      <ion-row class="ion-padding-top permission-request--container">
        <ion-col class="ion-text-center" size="3">
          <ion-avatar>
            <identicon [address]="requesterName"></identicon>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <div class="divider--line"></div>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-icon name="checkmark-circle-outline" color="primary" size="large" class="ion-margin-top"></ion-icon>
        </ion-col>
        <ion-col>
          <div class="divider--line"></div>
        </ion-col>
        <ion-col class="ion-text-center" size="3">
          <ion-avatar>
            <identicon [address]="address"></identicon>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left" size="4">
          <h5 class="ion-no-margin">{{ requesterName | shortenString }}</h5>
        </ion-col>
        <ion-col class="ion-text-right" size="4" push="4">
          <h5 class="ion-no-margin">{{ address | shortenString }}</h5>
        </ion-col>
      </ion-row>
    </div>

    <ng-container *ngIf="request.type === 'permission_request'">
      <h2>
        <span class="style__strong color__primary">{{ requesterName }}</span>
        would like to connect to your account.
      </h2>
      <ion-badge color="primary">
        {{ requestedNetwork ? requestedNetwork.type : 'unknown' }}
      </ion-badge>
      <p class="ion-padding-top">
        This website is requesting the following permissions. Always make sure you trust the websites you interact with.
      </p>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-list lines="none">
            <ion-item *ngFor="let input of inputs">
              <ion-icon name="{{input.icon}}" slot="start"></ion-icon>
              <ion-label>{{ input.label }}</ion-label>
              <ion-checkbox [(ngModel)]="input.checked" slot="end"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-container>

    <ion-row *ngIf="request.type === 'broadcast_request'">
      <beacon-from-to
        [transactionsPromise]="transactionsPromise"
        [operationGroupPromise]="operationGroupPromise"
      ></beacon-from-to>
    </ion-row>

    <div *ngIf="request.type === 'sign_payload_request'" class="request--container">
      <ng-container>
        <p class="ion-padding-top">
          You are about to sign the following payload. Only sign payloads from a trusted source. Signing untrusted data
          could mean you lose all your funds!
        </p>
        <ion-row class="rawdata--container ion-margin-bottom">
          <pre>{{ request.payload }}</pre>
        </ion-row>
      </ng-container>
    </div>

    <div *ngIf="request.type === 'operation_request'" class="request--container">
      <beacon-from-to
        [transactionsPromise]="transactionsPromise"
        [operationGroupPromise]="operationGroupPromise"
      ></beacon-from-to>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button fill="outline" color="primary" (click)="cancel()">
        Reject
      </ion-button>
      <ion-button
        fill="outline"
        color="primary"
        (click)="customizeOperationParameters()"
        *ngIf="request.type === 'operation_request'"
      >
        Edit Params
      </ion-button>
      <ion-button fill="outline" color="primary" (click)="performDryRun()" *ngIf="request.type === 'operation_request'">
        Simulate
      </ion-button>
      <ion-button color="primary" (click)="done()">
        {{ confirmButtonText }}
      </ion-button>
    </ion-fab>
  </ng-container>
</ion-content>
